<link rel="stylesheet" href="components\randomRecipe\randomRecipe.css">

<div class="random-recipe-container">
    <h1 class="heading">Random Recipe Generator</h1>

    <!-- <div>
        <label for="dishType">Select Meal Type:</label>
        <select id="dishType" ng-model="selectedDishType" ng-change="searchRandomRecipes()">
            <option value="">Any Dish Type</option>
            <option value="Breakfast">Breakfast</option>
            <option value="Appetizer">Appetizer</option>
            <option value="Main Course">Main Course</option>
            <option value="Snack">Snack</option>
            <option value="Dessert">Dessert</option>
            <option value="Soup">Soup</option>
            <option value="Bread">Bread</option>
            <option value="Salad">Salad</option>
            <option value="Side Dish">Side Dish</option>
        </select>
    </div> -->

    <!-- Button to fetch a random recipe -->
    <button class="random-recipe-btn" ng-click="searchRandomRecipes()">Get Random Recipe</button>

    <!-- Display recipe information if available -->
    <div class="recipe-container" ng-if="recipe">
        <h3 class="recipe-title">
            <a ng-href="{{ recipe.sourceUrl }}" target="_blank">{{ recipe.title }}</a>
        </h3>  
        <img class="recipe-image" ng-src="{{ recipe.image }}" alt="{{ recipe.title }}" />
        <p class="recipe-info"><strong>Ready in:</strong> {{ recipe.readyInMinutes }} minutes</p>
        <p class="recipe-info"><strong>Servings:</strong> {{ recipe.servings }}</p>

        <h3 class="section-heading">Instructions:</h3>
        <div class="instructions-container" ng-if="recipe.analyzedInstructions && recipe.analyzedInstructions.length > 0">
            <ul class="instructions-list">
                <li class="instruction-step" ng-repeat="instruction in recipe.analyzedInstructions[0].steps">
                    <h4>Step {{ $index + 1 }}: {{ instruction.step }}</h4>
                </li>
            </ul>
        </div>

        <div class="nutrition-container" ng-if="recipe.nutrition">
            <h3 class="section-heading">Nutrition Facts:</h3>
            <ul class="nutrition-list">
                <li class="nutrition-item">Calories: {{ recipe.nutrition.nutrients[0].amount }} {{ recipe.nutrition.nutrients[0].unit }}</li>
                <li class="nutrition-item">Protein: {{ recipe.nutrition.nutrients[1].amount }} {{ recipe.nutrition.nutrients[1].unit }}</li>
                <li class="nutrition-item">Fat: {{ recipe.nutrition.nutrients[2].amount }} {{ recipe.nutrition.nutrients[2].unit }}</li>
                <li class="nutrition-item">Carbs: {{ recipe.nutrition.nutrients[3].amount }} {{ recipe.nutrition.nutrients[3].unit }}</li>
            </ul>
        </div>
    </div>
</div>
