<link rel="stylesheet" href="components/recipeByCusines/recipeByCusines.css">

<div class="cuisine-container">
    <h1>Select Your Favorite Cuisine</h1>
    <form ng-submit="handleCuisineSearch()" class="cuisine-form">
        <label for="cuisines" class="cuisine-label">Choose a cuisine:</label>
        <select id="cuisines" name="cuisines" ng-model="selectedCuisine" class="cuisine-dropdown">
            <option value="">-- Select a Cuisine --</option>
            <option value="mexican">Mexican</option>
            <option value="italian">Italian</option>
            <option value="asian">Asian</option>
            <option value="indian">Indian</option>
            <option value="american">American</option>
            <option value="african">African</option>
            <option value="chinese">Chinese</option>
            <option value="french">French</option>
            <option value="german">German</option>
            <option value="greek">Greek</option>
            <option value="japanese">Japanese</option>
            <option value="korean">Korean</option>
            <option value="mediterranean">Mediterranean</option>
            <option value="spanish">Spanish</option>
            <option value="vietnamese">Vietnamese</option>
        </select>
        <button type="submit" class="search-btn">Search Recipes</button>
    </form>

    <div ng-if="listRecipes.length > 0" class="recipes-container">
        <h2>Recipes:</h2>
        <div ng-repeat="recipe in listRecipes" class="recipe-item">
            <h3>
                <a ng-href="{{ recipe.sourceUrl }}" target="_blank">{{ recipe.title }}</a>
            </h3>        
            <img ng-src="{{ recipe.image }}" alt="{{ recipe.title }}" class="recipe-image">
        </div>
    </div>
</div>
